source:
    - ../engine/Api
    - ../engine/Components
    - ../engine/Core
    - ../engine/Entities
    - ../engine/Fs
    - ../engine/Helpers
    - ../engine/Controllers

noSourceCode: true
templateTheme: bootstrap
destination: ./api
